@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/ptsans-400.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/ptsans-700.woff2") format("woff2");
    font-display: swap;
}

.html {
    height: 100%;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    font-family: "PT Sans", sans-serif;
    font-size: 18px;
    line-height: 21px;
    font-weight: 400;
    font-style: normal;
    color: #333333;
    background-color: #F2F2F2;
}

.container {
    width: 1200px;
    margin: 0 auto;
    background-color: #FFFFFF;
    box-shadow: 0 0 15px 0 #00000033;

}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.button {
    margin: 0;
    padding: 0;
    font-family: inherit;
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    color: #FFFFFF;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    border-radius: 4px;
    border: none;
}

/*Шапка*/
.page-header {
    padding: 0 70px;
}

.page-header-content {
    display: flex;
    align-items: start;
    color: #000000;
}

.navigation-logo {
    margin-right: 30px;
    align-self: flex-start;
    margin-bottom: -6px;
}

.page-header-logo {
    display: block;
    box-sizing: border-box;
}

.navigation-list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    align-items: center;
}

.navigation-item {
    padding: 20px 16px;
}

.navigation-link {
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
    color: #000000;
    text-decoration: none;
}

.navigation-user {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    margin-left: auto;
    list-style: none;
}

.navigation-user-item {
    padding: 22px 12px;
}

.navigation-user-item-button {
    margin-left: 20px;
}

.navigation-user-link {
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
    text-align: center;
    color: #000000;
    text-decoration: none;
}

.favorites-counter {
    font-size: 10px;
    line-height: 10px;
    text-align: center;
    color: #FFFFFF;
    background-color: #7DB54F;
    padding: 5px;
    border-radius: 10px;
}

.header-button {
    background-color: #756157;
    padding: 8px 34px;
}

/*Основное содержание*/
.main-container {
    flex-grow: 1;
}

/*Блок герой*/
.hero {
    color: #333333;
    background-color: #83B3D333;
    background-image: url("../images/divider.svg"), url("../images/hero-background.jpg");
    background-size: 100% auto, cover;
    background-repeat: no-repeat;
    background-position: left bottom, left top;
}

.hero-img {
    display: block;
    margin: 0 auto;
    padding: 51px 0 82px;
}

/*Блок преимуществ*/
.advantages-description {
    margin: 69px 0 90px;
}

.advantages-subtitle {
    margin: 0 290px;
    padding: 0;
    margin-bottom: 25px;
    color: #000000;
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
}

.advantages-subtitle-description {
    margin: 0;
    padding: 0;
    font-size: 22px;
    line-height: 26px;
    text-align: center;
}

.advantages-list {
    margin: 0;
    padding: 0;
    display: flex;
    flex-flow: wrap;
    justify-content: space-between;
    list-style: none;
}

.advantages-item {
    width: 400px;
}

.advantages-item-wide-dark {
    background-color: #82B3D3;
    display: flex;
    justify-content: space-between;
    width: 1200px;
}

.advantages-item-wide-light {
    background: #83B3D31F;
}

.advantages-item-wide-medium {
    background: #83B3D333;
}

.advantages-item-reverse {
    flex-direction: row-reverse;
}

.advantages-item-text {
    margin: 102px 85px;
}

.advantages-item-title {
    padding: 0;
    margin: 0;
    margin-bottom: 62px;
    color: #000000;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
}

.advantages-item-description {
    padding: 0;
    margin: 0;
    text-align: center;
}

.advantages-item-wide-dark .advantages-item-title {
    color: #FFFFFF;
    text-align: center;
}

.advantages-item-wide-dark .advantages-item-description {
    color: #FFFFFF;
    text-align: center;
}

/*Инфраструктура*/
.infrastructure-description {
    margin: 64px 348px;
}

.infrastructure-subtitle {
    padding: 0;
    margin: 0;
    margin-bottom: 20px;
    color: #000000;
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
}

.infrastructure-subtitle-description {
    padding: 0;
    margin: 0;
    font-size: 22px;
    line-height: 26px;
    text-align: center;
}

.infrastructure-list {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    list-style: none;
}

.infrastructure-item {
    background: #83B3D31F;
    width: 400px;
}

.infrastructure-item-background-none {
    background: none;
}

.infrastructure-item-text {
    margin: 85px 81px;
}

.advantages-icon-house::before {
    content: " ";
    display: block;
    width: 75px;
    height: 72px;
    margin: 0 auto;
    margin-bottom: 30px;
    background-image: url("../images/advantage-icon-house.svg");
}

.advantages-icon-food::before {
    content: " ";
    display: block;
    width: 75px;
    height: 72px;
    margin: 0 auto;
    margin-bottom: 30px;
    background-image: url("../images/advantage-icon-food.svg");
}

.advantages-icon-gift::before {
    content: " ";
    display: block;
    width: 75px;
    height: 76px;
    margin: 0 auto;
    margin-bottom: 30px;
    background-image: url("../images/advantage-icon-gift.svg");
}

.infrastructure-item-title {
    padding: 0;
    margin: 0;
    margin-bottom: 30px;
    color: #000000;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
}

.infrastructure-item-description {
    padding: 0;
    margin: 0;
    text-align: center;
}

/*Блок поиска*/
.search {
    text-align: center;
    margin: 96px 304px;
}

.search-subtitle {
    padding: 0;
    margin: 0;
    color: #000000;
    margin-bottom: 20px;
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
    text-transform: uppercase;
}

.search-description {
    padding: 0;
    margin: 0;
    margin-bottom: 54px;
    font-size: 22px;
    line-height: 26px;
}

.search-button {
    font-size: 20px;
    line-height: 36px;
    padding: 8px 50px;
    background-color: #756157;
}

/*Блок подписки на рассылку*/
.subscribe {
    text-align: center;
    padding: 96px 258px 104px 258px;
}

.subscribe-theme-custom {
    color: #FFFFFF;
    background-color: #83B3D333;
    background-image: url("../images/subscribe-background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.subscribe-subtitle {
    margin: 0;
    padding: 0;
    margin-bottom: 20px;
    color: #000000;
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
    text-transform: uppercase;
}

.subscribe-description {
    width: 475px;
    margin: 0 auto;
    font-size: 22px;
    line-height: 26px;
    margin-bottom: 36px;
}

.subscribe-theme-custom .subscribe-subtitle {
    color: #FFFFFF;
}

.subscribe-theme-custom .subscribe-description {
    color: #FFFFFF;
}

.subscribe-form {
    display: flex;
    align-items: center;
    justify-content: center;
}

.subscribe-form-name input {
    color: #000000;
    background-color: #F2F2F2;
    border: none;
    width: 452px;
    padding: 14px 20px;
    font-size: 18px;
    line-height: 24px;
    border-radius: 4px 0 0 4px;
}

.subscribe-theme-custom .subscribe-form-name input {
    background-color: #FFFFFF;
}

.subscribe-button {
    padding: 8px 50px;
    border-radius:0 4px 4px 0;
    font-size: 20px;
    line-height: 36px;
    background-color: #82B3D3;
}

/*Фильтры*/
.main-inner-bg {
    color: #FFFFFF;
    background-color: #756157;
    background-image: url("../images/main-inner-background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    padding: 35px 70px 70px;
}

.catalog-filter {
    display: flex;
}

.inner-header-title {
    margin: 0;
    padding: 0;
    font-size: 60px;
    line-height: 78px;
    font-weight: 700;
}

.breadcrumbs {
    margin: 0;
    padding: 0;
    padding-top: 8px;
    display: flex;
    /*gap: 10px;*/
    list-style: none;
}

.breadcrumbs-link {
    color: #FFFFFF;
    font-size: 16px;
    line-height: 21px;
    text-decoration: none;
    text-align: center;
}

.filters {
    margin-top: 40px;
}

/*.catalog-filter-group {
    border: none;
}*/

.catalog-filter-title {
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
}

.catalog-filter-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.control {
    font-size: 18px;
    line-height: 23px;
}

.filter-range-control {
    font-family: inherit;
    color: #000000;
    font-size: 18px;
    line-height: 24px;
}

.filter-range-control input {
    color: #000000;
    font-family: inherit;
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
}

.submit-button {
    background-color: #82B3D3;
}

.reset-button {
    background: none;
}

/*Каталог*/
.catalog-content {
    margin: 50px 70px 60px;
}

.catalog-products-sorting {
    display: flex;
    align-items: center;
}

.catalog-products-title {
    margin: 0;
    padding: 0;
    width: 338px;
    color: #000000;
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
}

.select-control {
    color: #333333;
    background-color: #FFFFFF;
    font-size: 18px;
    line-height: 21px;
    margin-left: auto;
    margin-right: 70px;
}

.view-buttons {
    margin: 0;
    padding: 0;
    width: 160px;
    display: flex;
    list-style: none;
    margin-left: 70px;
}

/*Карточки товара*/
.product-list {
    margin: 40px 0 80px;
    padding: 0;
    list-style: none;
}

.product-card {
    width: 340px;
}

.product-card-link {
    text-decoration: none;
}

.product-card-title {
    color: #000000;
    font-size: 24px;
    line-height: 28px;
    font-weight: 700;
    text-transform: uppercase;
}

.product-card-button {
    background-color: #756157;
}

.add-favorite-button {
    background-color: #82B3D3;
}

.the-button-in-favorites {
    background-color: #7DB54F;
}

.product-card-rating {
    width: 254px;
    padding: 9px 23px;
    font-size: 16px;
    line-height: 20px;
    background-color: #F2F2F2;
    text-align: center;
    text-transform: uppercase;
}

/*Пагинация*/
.pagination-list {
    display: flex;
    margin: 0;
    padding: 0;
    gap: 8px;
    list-style: none;
}

.pagination-link {
    display: block;
    box-sizing: border-box;
    width: 60px;
    height: 60px;
    padding: 12px 18px;
    font-size: 20px;
    line-height: 36px;
    font-weight: 700;
    color: #FFFFFF;
    background-color: #82B3D3;
    text-align: center;
    text-decoration: none;
    border-radius: 4px;
}

.pagination-hidden {
    color: #000000;
    background: none;
    font-size: 22px;
    line-height: 26px;
    font-weight: 400;
}

.pagination-current {
    color: #000000;
    background-color: #F2F2F2;
}

.pagination-link-action:hover {
    background-color: #68A2CA;
}

.pagination-link-action:focus {
    background-color: #68A2CA;
}

.pagination-link-action:active {
    color: #FFFFFF4D;
    background-color: #82B3D3;
}

/*Подвал*/
.page-footer {
    padding: 40px 70px 30px;
}

.page-footer-content {
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-social-list {
    color: #000000;
    margin: 0;
    padding: 0;
    width: 142px;
    display: flex;
    list-style: none;
}

.footer-social-link {
    color: #000000;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    text-decoration: none;
    text-align: center;
}

.footer-phone {
    width: 720px;
    color: #000000;
    font-size: 40px;
    line-height: 40px;
    text-decoration: none;
    text-align: center;
}

.footer-phone:hover {
   color: #756157;
}

.footer-phone:focus {
    color: #756157;
}

.footer-phone:active {
    color: #7561574D;
}

.copyright {
    color: #000000;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    text-decoration: none;
    text-align: center;
}

.copyright {
    content: " ";
    display: block;
    width: 115px;
    height: 33px;
    margin: 0 auto;
    background-image: url("../images/logo-htmlacademy.svg");
}

.copyright:hover {
    background-image: url("../images/logo-htmlacademy-hover.svg");
}

.copyright:focus {
    background-image: url("../images/logo-htmlacademy-focus.svg");
}

.copyright:active {
    background-image: url("../images/logo-htmlacademy-active.svg");
}
